<launch>
	
	<node pkg="aries" type="camera_node.py" name="camera_node"/>
	<node pkg="aries" type="conveyor_controller.py" name="conveyor_controller"/>
	<node pkg="aries" type="conveyor_encoder_node.py" name="conveyor_encoder_node"/>
	<node pkg="aries" type="current_sensor_node.py" name="current_sensor_node"/>
	<node pkg="aries" type="hopper_controller.py" name="hopper_controller"/>
	<node pkg="aries" type="hopper_encoder_node.py" name="hopper_encoder_node"/>
	<node pkg="aries" type="hopper_pressure_node.py" name="hopper_pressure_node"/>
	<node pkg="aries" type="lcd_screen_manager.py" name="lcd_screen_manager"/>
	<node pkg="aries" type="lidar_node.py" name="lidar_node"/>
	<node pkg="aries" type="lidar_pivot_controller.py" name="lidar_pivot_controller"/>
	<node pkg="aries" type="lidar_pivot_encoder_node.py" name="lidar_pivot_encoder_node"/>
	<node pkg="aries" type="mover.py" name="mover"/>
	<node pkg="aries" type="odometry_node.py" name="odometry_node"/>

	<!-- Launch hokuyo node; taken from hokuyo launch files -->
	<node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
	    <!-- Remap laser scan topic from /scan to /aries/front_scan -->
            <remap from="scan" to="aries/front_scan" />

	    <!-- Starts up faster, but timestamps will be inaccurate. --> 
	    <param name="calibrate_time" type="bool" value="false"/> 
	    
	    <!-- Set the port to connect to here -->
	    <param name="port" type="string" value="/dev/ttyACM0"/> 
	    
	    <param name="intensity" type="bool" value="true"/>
  	</node>
	
</launch>
