<launch>

    <!-- <param name="/use_sim_time" value="true"/> -->
    <!-- Launch hokuyo node; taken from hokuyo launch files -->
    <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
        <!-- Remap laser scan topic from /scan to /aries/front_scan -->

        <!-- Starts up faster, but timestamps will be inaccurate. --> 
        <param name="calibrate_time" type="bool" value="false"/> 
        
        <!-- Set the port to connect to here -->
        <param name="port" type="string" value="/dev/ttyACM0"/> 
        
        <param name="intensity" type="bool" value="true"/>
        <param name="min_ang" type="double" value="-0.829"/>
        <param name="max_ang" type="double" value="0.829"/>
    </node>

    <param name="robot_description" command="$(find xacro)/xacro.py '$(find sick_tim)/urdf/example.urdf.xacro'" />

    <node name="sick_tim551_2050001" pkg="sick_tim" type="sick_tim551_2050001" respawn="false" output="screen">
        <!-- Remap laser scan topic from /scan to /aries/front_scan -->
        <remap from="scan" to="aries/front_scan" />


        <param name="min_ang" type="double" value="-0.829"/>
        <param name="max_ang" type="double" value="0.826"/>
    </node>

    <!-- Static transform from laser to base_link -->
<!--0.3937 meters from the point under the front lidar to the center of the robot
    0 meters left/right to allign the lidar with the center of the robot
    0.619125 meters from the lidar down to the base of the robot chassis
    1.57079632679 radian pitch angle that the lidar is tilted towards the ground
    0.785398163 radian rotation angle so that the x-axis positive is forward -->
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0.3937 0 0.619125 1.57079632679 0.785398163 0 base_link laser 100" />

    <!-- For testing only. This will be dynamic later. -->
     <!--<node pkg="tf" type="static_transform_publisher" name="map_to_base_broadcaster" args="10 0 0 0 0 0 map base_link 100" /> 
-->

    <!-- Broadcaster the actually uses localization data. -->
    <!-- <node type="map_to_base_broadcaster.py" pkg="aries" name="map_to_base_broadcaster" />
-->

    <!-- Dynamic test file that moves in a circle to test mapping. -->
    <node type="mapping_test_broadcaster.py" pkg="aries" name="map_to_base_broadcaster" />

    <node type="laserscan_to_pointcloud" pkg="aries" name="laserscan_to_pointcloud"/>

    <node type="filter_pointcloud.py" pkg="aries" name="filter_pointcloud" />

    <node type="map_pointcloud.py" pkg="aries" name="map_pointcloud" />

    <node type="occupancy_grid_publisher.py" pkg="aries" name="occupancy_grid_publisher" />

    <node type="beacon_localization.py" pkg="aries" name="beacon_localization" />

</launch>
