<launch>
	<!-- Used to launch control station software --> 
    
	<rosparam command="load" file="$(find aries)/param/ports.yaml" />
    <rosparam command="load" file="$(find aries)/param/topics.yaml" />
    <rosparam command="load" file="$(find aries)/param/motor_params.yaml" />
    <rosparam command="load" file="$(find aries)/param/localization.yaml" />
    <rosparam command="load" file="$(find aries)/param/map_params.yaml" />   
        

    <!-- Launch hokuyo Rear LIDAR -->
    <node name="hokuyorear" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
      
        <!-- Starts up faster, but timestamps will be inaccurate. --> 
        <param name="calibrate_time" type="bool" value="false"/> 
        
        <!-- Set the port to connect to here -->
        <param name="port" type="string" value="/dev/hokuyorear"/> 
      
        <param name="intensity" type="bool" value="false"/>
        <remap from="scan" to="aries/rear_scan" />
    </node>

    <!-- Launch hokuyo front LIDAR -->
    <node name="hokuyofront" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
      
        <!-- Starts up faster, but timestamps will be inaccurate. --> 
        <param name="calibrate_time" type="bool" value="false"/> 
        
        <!-- Set the port to connect to here -->
        <param name="port" type="string" value="/dev/hokuyofront"/> 
      
        <param name="intensity" type="bool" value="false"/>
        <remap from="scan" to="aries/front_scan" />
    </node>

	<node pkg="aries" type="motor_director.py" output="screen" name="motor_director"/>

	<node pkg="aries" type="joystick_controller.py" output="screen" name="joystick_controller"/>

    <node pkg="aries" type="timer_teleop.py" output="screen" name="duration_teleop"/>

	<node pkg="aries" type="station_receiver.py" output="screen" name="station_receiver"/>

    <node pkg="aries" type="serial_server.py" output="screen" name="serial_server"/>
	
	<node pkg="aries" type="dump_controller.py" output="screen" name="dump_controller"/>

    <node pkg="aries" type="robot_state_reporter.py" output="screen" name="robot_state_reporter"/>

    <!--<node pkg="aries" type="lidar_pivot_controller.py" output="screen" name="lidar_pivot_controller"/>-->
</launch>
