<launch>

	<rosparam command="load" file="$(find aries)/param/localization.yaml" />
    <rosparam command="load" file="$(find aries)/param/topics.yaml" />

	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find aries)/worlds/mining_field.world" respawn="false" output="screen" />
	
</launch>
